# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.class
*.html
doc
gen
Lodge2.0/project.properties
*.jar
*.cache
*.dex
bin
Lodge2.0/.project
Lodge2.0/.classpath
Lodge2.0/proguard-project.txt
Lodge2.0/res/values/styles.xml
Lodge2.0/res/values/strings.xml
Lodge2.0/res/values/dimens.xml
Lodge2.0/res/values-w820dp/dimens.xml
Lodge2.0/res/values-v14/styles.xml
Lodge2.0/res/values-v11/styles.xml
